body{
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    border: 5px solid green;
    box-sizing: border-box;
}

.login-card{
    height: 300px;
    width: 400px;  

    border: 5px solid violet;
    box-shadow: 10px 5px 5px black;
}

.text{
    font-family: sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sign-in{
    font-size: 32px;
}

#username, #password {
    border: none;
    border-bottom: 1px solid grey;
}
